.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70vw;
    overflow-x:scroll;
}
.CardContainer{
    background: red;
    margin: 1vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    border-radius: 10px;
    width: 50vw;
    cursor: pointer;
}
