.container{
    display: flex;
    flex-direction: row;
}
.CardContainer{
    background: yellowgreen;
    margin: 1vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    border-radius: 10px;
    width: 50vw;
    cursor: pointer;
}